<nav class="links">
    <NavLink href="/" Match="NavLinkMatch.All">
        <i class="fa fa-home"></i>
        Home
    </NavLink>
    <NavLink href="/Demo/Dialog">
        <i class="fa fa-window-restore"></i>
        Dialog
    </NavLink>
</nav>